{% extends 'base.html.twig' %}

{% block title %} Rest API {% endblock %}
{% block body %}
    <h2>ТЗ Rest API</h2>
    <ol>
        <li>Авторизация/Регистрация приложений</li>
        <li>Управлений приложениями для пользователей</li>
        <li>Авторизация через OAUTH2</li>
        <li>API методы для пользователей (UserBundle)</li>
        <li>Статистика Rest API</li>
    </ol>
{% endblock %}